name: Code Coverage

on:
    pull_request:
    push:
        branches: [ "main" ]
    workflow_dispatch:

permissions:
    contents: read

jobs:
    coverage:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Set up JDK 17
              uses: actions/setup-java@v5
              with:
                  distribution: temurin
                  java-version: 17

            - name: Setup Gradle
              uses: gradle/actions/setup-gradle@v5

            - name: Generate Code Coverage Report
              run: ./gradlew koverXmlReport

            - name: Upload coverage to Codecov
              uses: codecov/codecov-action@v5
              with:
                  token: ${{ secrets.LAZYPIZZA_CODECOV_TOKEN }}
                  files: |
                      **/build/reports/kover/report.xml
                  fail_ci_if_error: true
