name: PR Check

on:
    pull_request:
    workflow_dispatch:

permissions:
    contents: read

jobs:
    pr-check:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Set up JDK 17
              uses: actions/setup-java@v5
              with:
                  distribution: temurin
                  java-version: 17

            - name: Setup Gradle
              uses: gradle/actions/setup-gradle@v5

            - name: Run all unit tests
              run: ./gradlew unitTestAll

            - name: Assemble debug APK
              run: ./gradlew assembleDebug
